body{
    background-color: grey;
}

.pokedex-box{
    width: 90vw;
    background-color: rgb(219, 9, 9);
    margin: 2%;
    border: solid 15px;
    border-radius: 20px;
    border-bottom: 6px;
    border-top: 2px;
    border-left: 2px;
    border-style: double;
    display: flex;
    flex-direction: column;
}

.pokedex-view{
    margin: 20px;
    width: 85vw;
    height: auto;
    border: solid 10px;
    border-color: black;
    border-style: inset;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-wrap: wrap;
}

#select-button{
    margin: 20px;
    width: 150px;
}

#arrow-button{
    display: flex;
    margin: 20px;
    width: 30%;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

#arrow-button div{
    height: 70px;
    border: solid;
    width: 70px;
    background-color: #000000;
    border: solid 10px #1c1b1b;
}

.circle {
    width: 50px;
    height: 50px;
    background: #aaa;
    border-radius: 50%;
    margin-left: 5px;
    border: solid 30px;
    border-style: ridge;
}

#select-button .circle{
    height: 70px;
    border: solid;
    width: 70px;
    background-color: #000000;
    border: solid 10px #1c1b1b;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.poke-card{
    width: 150px;
    height: 200px;
    background-color: #ff0000;
    margin: 20px;
    border: double;
    border-width: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

.poke-card img{
    overflow: clip;
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.poke-card .poke-card-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-card-description h4{
    margin-bottom: 0px;
    margin-top: 10px;
}

.poke-card-description h3{
    margin-bottom: 0px;
}

.poke-card-description h4 span{
    margin-left: 6px;
    margin-right: 6px;
    background-color: blanchedalmond;
    border: solid 1px;
    padding: 2px;
}
